<?xml version='1.0' encoding='utf-8'?>
<widget id="timeline-game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bible Timeline Game</name>
    <description>
        BTG is card based game. Goal is to arrange cards in chronological order.
    </description>
    <author>
        BTG Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="resource/electron/settings.json" />
    </platform>
</widget>
