{:dependencies
 [[re-frame "0.12.0"]
  [reagent "0.10.0"]
  [binaryage/devtools "1.0.2"]
  [day8.re-frame/re-frame-10x "0.6.2"]
  [secretary "1.2.3"]
  [kixi/stats "0.5.2"]
  [telewatt/re-frame-datatable "0.6.1"]
  [dv/cljs-emotion "2020-10-13"]
  [mhuebert/shadow-env "0.1.6"]
  [aero "1.1.6"]]

 :source-paths
 ["src/main"
  "src/test"
  "resource"]

 ;; set an nrepl port for connection to a REPL.
 :nrepl
 {:port 8777}

 :builds {;; example build config, usage suitable for user apps
          :app {:target :browser
                :modules {:base {:init-fn timeline-game.core/init}}
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"
                :compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}}
                :build-hooks [(shadow-env.core/hook)]
                :devtools {:http-root "public"
                           :http-port 9090
                           :preloads [devtools.preload
                                      day8.re-frame-10x.preload]}}

          :test {:target :node-test
                 :output-to "target/test.js"
                 :ns-regexp "test$"
                 :autorun   true}}}
