body,
html {
  padding: 0;
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

.site {
  font-family: "Open Sans", helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr);
  grid-gap: 10px;
}

.menu-wrapper {
  vertical-align: middle;
  padding: 0 0.5em 0.5em 0.5em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 10px;
  margin-top: 0;
  background-color: #F1BF53;
}

.menu {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.25em;
  position: relative;
  border-radius: 0 0 3px 3px;
}

.title {
  font-family: 'riffic-bold', sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75em;
  letter-spacing: 0.1em;
}

header {
  display: flex;
  justify-content: flex-start;
}

.players {
  display: flex;
  justify-content: center;
}

.timeline {
  display: flex;
  justify-content: center;
}

.hand {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}