body,
html {
  font-family: "Open Sans", helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.menu-wrapper {
  vertical-align: middle;
  padding: 0 0.5em 0.5em 0.5em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 10px;
  margin-top: 0;
  background-color: #F1BF53;
}

.menu {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.25em;
  border-radius: 0 0 3px 3px;
}

header,
.status-bar,
.players,
.hand,
.hourglass-wrapper {
  display: flex;
  justify-content: center;
}

.hand .cards {
  display: flex;
}

.players {
  margin: 10px 0 10px 0;
}

.hourglass-wrapper {
  height: 128px;
}

.timeline {
  margin-bottom: 20px;
}