body,
html {
  padding: 0;
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

.site {
  font-family: "Open Sans", helvetica, sans-serif;
}

.menu-wrapper {
  vertical-align: middle;
  padding: 0 0.5em 0.5em 0.5em;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 10px;
  margin-top: 0;
  background-color: #F1BF53;
}

.menu {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 0.25em;
  position: relative;
  border-radius: 0 0 3px 3px;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.players {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}

.timeline {
  padding-top: 100px;
}

.hand {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}