  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .dropdown-content {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
    
  .arrow {
    width: 6px;
    height: 6px;
    white-space: nowrap;
    display: inline-flex;
    border: solid white;
    border-width: 0 3px 3px 0;
    margin-right: 10px;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .hist-overview i, span {
      padding: 3px;
  }

  .hist-overview {
      width: 250px;
  }