  .title {
    font-family: 'riffic-bold', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin: 0.3em;
    color: rgb(155, 127, 91);
  }

  .btn {
    width: 150px;
    padding: 10px 20px;
    display: block;
    margin: 10px auto 0px auto;
    cursor: pointer;
  }

  .button {
    display: inline-block;
    padding: 0.46em 1em;
    border: 2px solid #EACB89;
    margin: 0.3em;
    color: #000000;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #FFF3D9;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
  }

  .button:hover {
    background-color: #EACB89;
  }

  @media all and (max-width:30em) {
    .button {
      display: block;
      margin: 0.4em auto;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropdown-content {
    position: absolute;
    width: max-content;
    display: none;
    z-index: 2;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* arrow */
  .arrow {
    width: 6px;
    height: 6px;
    white-space: nowrap;
    display: inline-flex;
    border: solid rgb(155, 127, 91);
    border-width: 0 3px 3px 0;
    margin-right: 10px;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .grid .fas {
    padding-right: 6px;
  }

  .grid {
    display: grid;
  }

  .grid .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .players-stats {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: #F1BF53;
    grid-gap: 2px;
    padding: 2px;
    border-radius: 4px;
    height: fit-content;
  }

  .players-stats .column {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0.4em;
    border-radius: 2px;
  }

  .overlay-container {
    display: inline-block;
  }

  .overlay-container {
    position: fixed;
    width: "100%";
    height: "100%";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: "rgba(255,255,255,0.9)";
    z-index: 2;
  }

  .overlay-content {
    position: absolute;
    top: "40%";
    left: "50%";
    transform: "translate(-50%,-50%)";
    -ms-transform: "translate(-50%,-50%)";
  }

  .icon-button-wrapper {
    text-align: right;
    color: #F1BF53;
  }

  .fa-times-circle:hover {
    color: rgb(155, 127, 91);
    cursor: pointer;
  }

  .history-grid {
    padding: 20px;
    background-color: white;
    border: 8px solid #F1BF53;
    border-radius: 6px;
    box-shadow: 0px 5px 20px -10px #F1BF53;
  }

  .history-grid-row {
    display: grid;
    grid-template-columns: 22px 200px;
    align-items: center;
  }

  .well-played:before {
    color: green;
    content: '\f00c';
  }

  .wrong-played:before {
    color: red;
    content: '\f00d';
  }

  .ui.table {
    border-radius: 4px;
    background-color: #F1BF53;
  }

  .ui.table>thead th {
    background-color: rgba(255, 255, 255, 0.4);
    width: 222px;
  }

  .ui.table th:nth-child(1) {
    width: 80px;
  }

  .ui.table tr td:nth-child(1) {
    text-align: center;
  }

  .ui.table td,
  .ui.table th {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0.4em;
    border-radius: 2px;
  }

  .page-selector {
    margin: 5px;
  }

  /* datatable-sorting */
  .ui.table>thead th.sorted-by:after {
    display: inline-block;
    content: '\f0dc';
  }

  .ui.table>thead th.sorted-by.desc:after {
    content: '\f0d7';
  }

  .ui.table>thead th.asc:after {
    content: '\f0d8';
  }

  .ui.table>thead th:after {
    display: none;
    font-family: FontAwesome;
    margin-left: .5em;
  }

  .draggable.can-drop .card--normal {
    background: linear-gradient(110deg, yellowgreen 0%, green 100%);
  }

  .draggable.can-drop .card--normal:hover {
    box-shadow: none;
  }