.timeline ul {
    margin: 20px;
}

.timeline li {
    display: inline-block;
}

.drop-zone {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 20px;
    height: 80px;
    z-index: -1;
    border-radius: 10px;
}

.drop-zone.highlight-all {
    animation-duration: 1.5s;
    animation-name: highlight-drop-zones;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: crimson;
}

.drop-zone.highlight {
    border: 2px solid crimson;
}

.ribbon.hide {
    visibility: hidden;
}

@keyframes highlight-drop-zones {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.ribbon {
    position: absolute;
    top: 25px;
    left: -180px;
    width: 200px;
    height: 30px;
    background: crimson;
}

.timeline li:first-child .ribbon {
    visibility: hidden;
}

.ribbon:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    border-left: 15px solid transparent;
    border-right: 15px solid crimson;
    border-top: 15px solid crimson;
    border-bottom: 15px solid crimson;
}

.ribbon:after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left: 15px solid crimson;
}